<div id="lc-page-wrapper">
	<div class='btn-container' data-fduseron='<%=useron%>'></div>
	<div class="body-final-container">
		<div id="choice-container" class="choice-container">
			<a href='#' id='faceSelectFinal1' class='faceSelectFinal1' onclick='tallies(event)' data-id='<%=id1%>' data-pictureimagepath='<%=pictureImagePath1%>' data-name='<%=name1%>'>
					<div style="background-image:url(<%=pictureImagePath1%>);background-repeat:none;background-size:cover" class='box-final' id='box1'><%=name1%>
					</div> 
			</a>
			<a href='#' id='faceSelectFinal2' class='faceSelectFinal2' onclick='tallies(event)' data-id='<%=id2%>' data-pictureimagepath='<%=pictureImagePath2%>' data-name='<%=name2%>'>
					<div style="background-image:url(<%=pictureImagePath2%>);background-repeat:none;background-size:cover" class='box-final id='box2' ><%=name2%>
					</div>
			</a>
		</div>
		<a id="btn-label" class="btn-lbl">Choose your Winner!</a>
		<div id='finalGameClick' class='finalGameClick'>
			<a href='#' id='next-game-btn' class='game-btn' onclick='dewView()'>Submit Choice</a>		
		</div>	
	</div>	

	<div id='theTenName' class='hide-container dwinnername'></div>
	<div id='theTen' class='hide-container'></div>

	<a href='#' id='next-btn-final' class='nbf hide-container' onclick='startAgain()'>Do it Again</a>		
</div>

</div>
<script>

let sellImageFinal

	function tallies(event) {

		const fsf1 = document.getElementById('faceSelectFinal1')
		const fsf2 = document.getElementById('faceSelectFinal2')

		if(fsf1.classList.contains('selected')) {
			fsf1.classList.remove('selected')
		}

		if(fsf2.classList.contains('selected')) {
			fsf2.classList.remove('selected')
		}

		const selectionWin = document.getElementById(event.currentTarget.id)
		selectionWin.classList.add('selected')

		const sellId = selectionWin.dataset.id
		const sellImageFinal = selectionWin.dataset.pictureimagepath
		const sellName = selectionWin.dataset.name
		// localStorage.removeItem('firstImage', sellImageFinal)
		// localStorage.removeItem('first')
		// localStorage.removeItem('second')
		localStorage.clear()
		localStorage.setItem('winnerName', sellName)
		localStorage.setItem('winnerId', sellId)
		localStorage.setItem('winnerImage', sellImageFinal)
}



function dewView() {
	const winnerId = localStorage.getItem('winnerId')
	const winnerImage = localStorage.getItem('winnerImage')
	const winnerName = localStorage.getItem('winnerName')

	const picture = winnerImage

	const viewer = document.getElementById('theTen')
	const finalButtonBank = document.getElementById('finalGameClick')
	const choiceContainer = document.getElementById('choice-container')
	const theTenName = document.getElementById('theTenName')
	const btnLabel = document.getElementById('btn-label')
	const nextGameBtn = document.getElementById('next-game-btn')

	theTenName.innerText = winnerName

	viewer.setAttribute('style', 'background-image: url(' +`${picture}`+ ');background-repeat:none;background-size:cover');

	if(!finalButtonBank.classList.contains('hide-container')) {
		btnLabel.classList.add('hide-container')
		nextGameBtn.classList.add('hide-container')
		finalButtonBank.classList.add('hide-container')
		}
		choiceContainer.classList.add('hide-container')
		viewer.classList.remove('hide-container')
		theTenName.classList.remove('hide-container')
		
		return dewTall(winnerId)
}

function dewTall(id) {
	const playItAgain = document.getElementById('next-btn-final')
	if(playItAgain.classList.contains('hide-container')) {
		playItAgain.classList.remove('hide-container')
	}
	return fetch(`/deweys/submittal/final/${id}`, (response) => {
		if(response.status >= 400) {
			return response.json().then(errResData => {
				const error = new Error('Something went wrong!')
				error.data = errResData;
				throw error;
			})
		}
	});

};

function submittal() {

	const viewer = document.getElementById('theTen')
	const winnerId = localStorage.getItem('winnerId')

	const winner = roundOneFeed.find(dwy => dwy.id == winnerId)

	viewer.setAttribute('background-image','winner.pictureImagePath')
	viewer.classList.remove('hide-container')
} 

function startAgain() {
	localStorage.removeItem('winnerImage')
	return fetch('/ranks/addRandom', {
	method: 'GET',
	headers: {
	'Accept': 'application/json',
	'Content-Type': 'application/json'
		}
	}).then(() => {
		console.log('Restart occurred')
		window.location.pathname = '/ranks/addRandom'
	})
}

</script>